.Main{
    height: 700px;width: 980px; background-color: yellow;}

 .header{height: 140px; width: 980px;position: relative;background-color: darkgreen; color: white }

 .sidebar{height: 500px;
    width: 485px;
    background-color: darkgreen;color: white;
    position: relative;top:-14px;right: -5px;

 }   
 .content{
    height:500px;
    width: 480px;background-color: darkgreen;float: right;position: relative;top: -515px; color: white; right: 3px;
 }
 .Footer{
    height: 40px;
    width: 970px;
    background-color: darkgreen;position: relative;top: -7px; color: white;left: 5px;text-emphasis-position: ;
 }